@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body p {
  font-family: var(--font-poppins);
  font-weight: 400;
}

body h1 {
  font-family: var(--font-poppns);
  font-weight: 700;
}

body{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: 
  linear-gradient(rgba(255, 253, 214, 0.6), rgba(255, 253, 214, 0.6)),
  url("/images/background.jpg");
background-size: cover;
}