@import "tailwindcss";

*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body p {
  font-family: var(--font-poppins);
  font-weight: 400;
}

body h1 {
  font-family: var(--font-poppins);
  font-weight: 700;
}

body{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: url("/images/background.jpg");
  background-size: cover;
}

@media (max-width: 1024px) {
  body h1 {
    font-size: 2rem;
  }

  body p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  body h1 {
    font-size: 1.5rem;
  }

  body p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  body h1 {
    font-size: 1.2rem;
  }

  body p {
    font-size: 0.8rem;
  }

  body {
    background-attachment: scroll; 
  }
}
