.main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background:
        linear-gradient(rgba(26, 24, 1, 0.085), rgba(237, 230, 90, 0.096)),
        url("/images/background.jpg");
    background-size: cover;
}